

/*  IMPORT  */

/* header h1 */

/*  header h5 */

/*  header h4 */

/*  .wrapper  */


/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*  CSSZIN  */

body {
    background-color: #f1e3bea7;
}

/*  HEADER  */

.head {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-size: clamp(3vh, 3vw, 8vh);
    font-weight: 600;
    margin-top: 7vh;
}

header h4 {
    color: #673a0f;
    font-size: clamp(2vh, 1.5vw, 6vh);
    font-weight: 300;
    text-align: center;
}

.img img {
    height: 10vh;
}

header h5 {
    background: #f1e3be6f;
    border: 0.1px solid #e6d66b;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1.5vh, 1vw, 7vh);
    font-weight: bold;
    margin-top: 2vh;
    padding: 1vh;
    text-transform: uppercase;
}

header h5:hover {
    background: #f1e3be;
}

/*  regras  */

.abrirModal {
    color: #673a0f;
    font-size: clamp(3vh, 1.5vw, 6vh);
    font-weight: 600;
    left: 35%;
    padding: 2vh;
    position: absolute;
    text-transform: uppercase;
}

.abrirModal:hover {
    cursor: pointer;
}

.checkboxModal {
    display: none;
}

#modalExemplo:checked + .modal {
    display: flex;
}

.modal {
    align-items: center;
    background-color: #33333382;
    display: none;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.modal .fecharModal {
    background: #673a0f;
    border-radius: 5px;
    color: #fff;
    font-size: clamp(3vh, 1.5vw, 6vh);
    font-weight: 600;
    padding: 1vh 2vh;
    position: absolute;
    right: 33%;
    text-transform: uppercase;
    top: 1%;

}

.modal .fecharModal:hover {
    cursor: pointer;
    color: #ff0000;
}

.modal .conteudoModal {
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #fff;
    max-width: 80%;
}

/*  HEADER QUERIES  */

@media screen and (max-width: 1200px) {    
    .img img {
        height: 7vh;
    }
}

@media screen and (min-width: 1200px) {
    .abrirModal {
        display: none;
    }
    .modal {
        display: none;
    }
    .modal .fecharModal {
        display: none;
    }
}

/*  MAIN  */

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.players,
.players1 {
    font-size: clamp(5vh, 2vw, 6vh);
    font-weight: 600;
}

.wrapper {
    align-items: center;
    display: flex;
    font-size: clamp(2vh, 2vw, 6vh);
    font-weight: bold;
    justify-content: space-between;
    margin: 3vh 0;
}

.minus, .minus1, .plus, .plus1 {
    background: #f1e3be6f;
    border: 0.1px solid #e6d66b;
    border-radius: 5px;  
    cursor: pointer;  
    padding: 0.5vh 2vh;
}

.minus:hover, .minus1:hover, .plus:hover, .plus1:hover {
    background: #f1e3be;
}

.num, .num1 {
    font-size: clamp(4vh, 2vw, 6vh);
}

/*  FOOT  */

footer {
    display: flex;
    justify-content: center;   
    margin: 10vh 0; 
}

#start, #show, #showSecret {
    background: #2c1010;
    border-radius: 5px;
    color: #f1e3be;
    cursor: pointer;
    font-size: clamp(2.5vh, 2vw, 6vh);
    padding: 1vh;
}

#start:hover, #show:hover, #showSecret:hover {
    background: #f1e3be;
    color: #2c1010;
}

/* jS Classes */

#transition {
    background: #6958ca;
    border-radius: 5px;
    color: #e6d66b;
    font-size: clamp(2vh, 2vw, 6vh);
    font-weight: 600;
    margin: 18vh 5vh;
    padding: 2vh 4vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5vh;
}

.jogador {
    align-items: center;
    display: flex;
    font-size: clamp(5vh, 2vw, 6vh);
    font-weight: 600;
    margin: 3vh 0;
    justify-content: center;
}

.cenario {
    align-items: center;
    display: flex;
    font-size: clamp(2vh, 1.5vw, 5vh);
    font-weight: 300;
    justify-content: center;
}

.role {    
    align-items: center;
    display: flex;
    font-size: clamp(2vh, 1.5vw, 5vh);
    font-weight: 300;
    justify-content: center;
}

.legend {
    align-items: center;
    display: flex;
    font-size: clamp(4vh, 2vw, 6vh);
    font-weight: 600;
    margin: 3vh 0;
    justify-content: center;
}

#ast {
    padding: 1.5vh 3vh 0vh 3vh;
} 

/*  JS CLASSES QUERIES  */

@media screen and (max-width: 1200px) {
    .jogador, .players {
        margin-top: 12vh;
    }
}

/*  WEBKIT  */

body,
body::selection {  
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}